/* Version One */
/* body {
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: aquamarine;
    height: 200px;
}

main {
    flex-grow: 1;
    background-color: rebeccapurple;
    color: white;
}

footer {
    background-color: cadetblue;
    height: 100px;
} */

/* Version Two */
/* body {
    margin: 0;
    padding: 0;

    height: 100vh;
    border: 2px solid red;
    display: grid;
    grid-template-rows: 200px auto 100px;
}

header {
    background-color: aquamarine;
}

main {
    background-color: rebeccapurple;
    color: white;
}

footer {
    background-color: cadetblue;
} */

/* Version Three */
/* body {
    margin: 0;
    padding: 0;

    height: 100vh;
    border: 2px solid red;
}

header {
    background-color: aquamarine;
    height: 200px;
}

main {
    background-color: rebeccapurple;
    color: white;
    height: calc(100vh - 300px);
}

footer {
    background-color: cadetblue;
    height: 100px;
} */

/* Version Four - buggy, don't love it */
body {
    margin: 0;
    padding: 0;
    position: relative;

    height: 100vh;
    border: 2px solid red;
}

header {
    background-color: aquamarine;
    height: 200px;
    width: 100%;
    position: fixed;
    top: 0;
}

main {
    background-color: rebeccapurple;
    color: white;
    padding-top: 200px;
}

footer {
    background-color: cadetblue;
    height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
}